		body{ 
			margin:0px;		
			padding-top:.5cm;
			font-size:120%;
			background:#006666;
			color:#ffffff;
			font-family:"Gill Sans", sans-serif;		
		}
		.logout-link{
			text-align:right;
			margin-right:30px;
		}
		.logout-link a{
			color:#fff;
		}
		/*attributi pagina index*/
		h1.titolo-home{
			margin-left:25%;
			text-align:center;
			vertical-align:center;
			font-size:50px;
			color:#fff;
		}
		div.home{
			padding-left:12.5%;
			padding-right:12.5%;
			margin-left:25%;
			font-size: 25px;
		}
			
		div.sidebar{
			height: 100%;
			width: 200px;
			position: fixed;
			top:0;
			left:0;
			background-color: #333;
			margin-bottom: 5px;
		}
		div.sidebar a{
			display: block;
			color: #f2f2f2;
			padding-left: 8px;
			padding-right: 82px;
			padding-bottom : 20px;
			padding-top: 60px;
			text-decoration: none;
			font-size:20px;
			vertical-align:center;
		}
		.sidebar a:hover {
  			background: #ddd;
  			color: black;
		}
		/*fine attributi home*/
		
		
		/*attributi pagina1*/
		dl{
		    margin-left:5%;
			font-size:120%;
			color:#99cccc;
		}
		dt{
			font-size:130%;		
			font-style:oblique;
			color:white;
		}
		dt a{
			text-decoration:none;
			color:white;
		}
		dt a:hover{
			color:#333333;
		}
		
		
		/*fine attributi pagina1*/
	
		/*attributi da pagina1 a pagina5*/
		h1{
			text-align:center;
		}
		
		p{	
			text-align: center;
			font-size:130%;
		}
		p a{
			color:#669999;
		}
		p.special{
			color:#669999;
		}
		ul {
			list-style-position:outside;
			text-align:left;
			margin-left:10%;
		}
		li{
			font-size: 130%;
		}
		div.titolo{
		  margin-top:110px;
		  background-image: url("banner.png");
		  padding-top:50px;
		  padding-bottom:50px;
		}
		div.topbar img{
		float:left;
		margin:auto;
		width:20%;	
		}
		div.topbar button{  
		      float:right;
			  margin-right:5px;
			  border: 2px solid white;
			  background-color:#006666;
			  color: white;
			  padding: 8px 18px;
			  font-size: 14px;
			  cursor: pointer;
			  border-radius:20px;
		}
		div.topbar button a{
			text-decoration:none;
			color:white;
		}
		/* attributi pagina5*/

		div.p5{
			margin-left:10%;
			margin-right:10%;
			border:2px solid #669999;
			padding-left:5%;
			padding-right:5%;
		}
		