 body{
  background:#006666;
  color:#fff;
  font-size:18px; 	
 }
 .logo{
 	display:block;
	margin-left: auto;
	margin-right: auto;
 }
 .ris{
 	text-align:center;
 }

 button{
	background-color: #669999;
	border-radius:6px;
	width: 30%;
	border: solid;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	opacity: 0.6;
	transition: 0.3s;
 }
 button:hover{opacity:1;}
 button a{
	 text-decoration:none;
	 color:white;
 }
 
 div{
	padding-left:30%;
	padding-right:30%;
	padding-top:18%;
 }